@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    letter-spacing: 0.03em;
    background-color: #fff;
}
.content-links a {
    background-color: transparent;
    text-decoration: none;
    color: white;
}
.top-navigation {
    background-image: url('https://stormideaswus.blob.core.windows.net/headerjunction/2014/91/5b189b26-d765-450f-ae5e-80df333eaddc.jpg');
    box-shadow: 1px;
    background-size: cover;
    width: 100%;
    border-bottom: 1px solid#;
    z-index: 9999;
    height: 200px;
}
.texas {
    color: maroon;
}
.introduction h1 {
    margin-top: 5.5rem;
    font-size: 4.125rem;
    font-family: "proxima-nova";
}
.backgroundimage {
    background-image: url('http://i1077.photobucket.com/albums/w464/reygarcia718/FullSizeRender%201_zpsbr6qnses.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 51.938rem;
}
.introduction h5 {
    margin: 1.313rem;
    color: black;
    font-size: 2rem;
}
.introduction p {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
}
.content-main {
    margin: 0 314px;
}
div {
    border: 1px solid transparent;
}
.blue {
    color: blue;
}
.links li {
    display: inline;
}
.content-links h1 {
    text-align: center;
    font-size: 60px;
    padding-left: 40px;
    color: #00004d;
    text-shadow: 1px 0 lightblue, 0 1px lightblue, 1px 0 lightblue, 0 1px lightblue;
}
.top-navigation .content-links .links {
    font-family: Roboto, sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-align: right;
    font-size: 22px;
    padding-right: 60px;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .content-links .links a:hover {
    cursor: pointer;
    color: #00004d;
}
.aboutme {
    background-color: white;
    font-size: 31px;
}
.projects {
    background-color: white;
    margin-top: 171px;
    font-size: 31px;
}
.background {
    text-align: center;
    padding: 0px 271px;
}
hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}
h5 {
    border: 0;
    margin: 1.313rem;
    color: #838994;
}
h4 {
    text-align: center;
    font-size: 32px;
}
body h5 {
    text-align: center;
}
body h3 {
    text-align: center;
}
.copy {
    text-align: right;
}
.breadcrumb {
    padding-right: 40px;
    text-align: center;
}
.breadcrumb li {
    border-radius: 78px;
    width: 53px;
    height: 56px;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid Grey;
    padding: 20px;
    text-decoration: none;
    font-size: 53px;
}
.social .twitter {
    color: #55acee;
}
.github a {
    color: black;
}
.twitter a {
    color: #80aaff;
}
.linkedin a {
    color: #0099e6;
}
.content {
    margin-top: 190px;
}
.breadcrumb a:hover {
    color: blue;
}
.social {
    background-color: lightblue;
}