body {
    // box-sizing: border-box;
    font: Lustria, Georgia;
    background: black;
}

.container {
    width: 100%;
    //margin: auto;
}

.links {
    width: 100%;
    font-size: 18px;
    line-height: 54px;
    text-align: right;
    height: 45px;
    color: white;
}

.links a {
    text-decoration: none;
    margin: auto 0px;
    color: white;
    line-height: 10px;
    margin: 0px 44px 0px 0px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.links a:hover {
    cursor: pointer;
    color: #00004d;
    color: lightgrey;
}

.page-header {
    background-image: url('../images/nature.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 468px;

}
.page-header .name {
    text-align: center;
    font-size: 100px;
    color: white;
     margin-top: 10px;
    font-weight: 400;
    line-height: 300px;
   //good stuff for a background blur  background-color: rgba(255, 255, 255, 0.375);
}

.page-header .title {
    text-align: center;
    color: lightgrey;
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 100;
    margin-top: -147px;
}


.introduction {
    background: white;
    text-align: center;
    background-image: url('../images/intro.jpg');
    background-position: center;
    background-size: cover;
}

.content-main {
    width: 100%;
    display: block;
    margin: auto;
}

// div {
//     border: 5px solid transparent;
// }
.avatar {
    border-radius: 100%;
    display: inline-block;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.075);
    margin-top: 22px;
}

.yo {
    border-radius: 100%;
    display: block;
    width: 10em;
}

.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    text-decoration: none;
    margin-bottom: 100px;
}

.icons li {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.075);
    padding: 13px;
    border-radius: 100%;
    margin: 8px;
}

.icons li:hover {
    background-color: rgba(255, 255, 255, 0.575);
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.icons li a {
    color: white;
    text-decoration: none;
    font-size: 29px;
}

.first-column,
.second-column,
.third-column {
    width: 30%;
    margin: 18px;
}

.projects {
    width: 990px;
    display: -webkit-flex;
    margin: auto;
}

// #organized img,
// #react img,
// #mag img,
// #mongo img,
// #model img,
// #api img {
//     width: 100%;
//     background-size: cover;
// }

.thumbnail {
    // border: 5px solid transparent;
    //box-shadow: 0px 0px 20px 2px rgb(85, 152, 255);



}

.thumbnail:hover{
      box-shadow: 0px -4px 8px 0px rgb(85, 152, 255);
}

#organized {
    background-image: url('../images/node.jpg');
    background-position: center;
    background-size: cover;
    height: 465px;
}

#react {
    background-image: url('../images/react.jpg');
    background-position: center;
    background-size: cover;
    height: 341px;
}

#mag {
    background-image: url('../images/client.jpg');
    background-position: center;
    background-size: cover;
    height: 341px;
}

#mongo {
    background-image: url('../images/mongo.jpg');
    background-position: center;
    background-size: cover;
    height: 465px;
}

#model {
    background-image: url('../images/full.jpg');
    background-position: center;
    background-size: cover;
    height: 412px;
}

#api {
    background-image: url('../images/api.jpg');
    background-position: center;
    background-size: cover;
    height: 412px;
}

.code{
    display: none;
    cursor: pointer;
    line-height: 200px;
    background: #3b7e98;
    text-decoration: none;
    padding: 8px;
    font-size: 52px;
    color: black;
    opacity: .6;
      border-radius: 5px;

}
.code:hover{
    color:white;
}

.demo{
    display: none;
    cursor: pointer;
    line-height: 197px;
    background: #3b7e98;
    text-decoration: none;
    padding: 8px;
    font-size: 52px;
    color: black;
    border-radius: 5px;
    opacity: .6;
    margin-top: 150px;
}
.demo:hover{
    color:white;
}

.projects p {
    background-color: rgba(255, 255, 255, 0.145);
    border: 1px solid lightgrey;
    margin-top: -1px;
    color: white;
    height: 58px;
    font-weight: 200;
    font-family: sans-serif;
    line-height: 31px;
    border-radius: 0px 0px 2px 2px;
}




