body {
    background: black;
    font-family: 'Muli', sans-serif;
    margin: 0px;
}

h1 {
    text-align: center;
}

.container {
    margin: auto;
    -webkit-animation: fadein 2s;
}

.intro-section {
    width: 980px;
    margin: auto;
    height: 602px;
    margin-top: 10px;
    text-align: center;
}

#my-story {
    width: 974px;
    height: 600px;
    -webkit-clip-path: polygon(0 0, 0 0, 0 934px, 750px 0);
    cursor: pointer;
}

#my-projects {
    margin-left: -974px;
    width: 974px;
    height: 600px;
    -webkit-clip-path: polygon(746px 0, 991px 0, 990px 613px, 240px 613px);
    position: absolute;
    cursor: pointer;
}

#rey {
    position: relative;
    margin: auto;
    border-radius: 10px;
    width: 153px;
    top: -442px;
    color: #00a9ff;
    background: rgb(255, 255, 255);
    font-size: 65px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

#story {
    position: relative;
    border-radius: 10px;
    top: -585px;
    left: 64px;
    color: white;
    width: 234px;
    padding: 8px;
    background: #3385FF;
    background: rgba(51, 133, 255, 0.56);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

#story:hover {
    cursor: pointer;
}

#projects {
    position: relative;
    border-radius: 10px;
    top: -294px;
    left: 669px;
    width: 234px;
    padding: 8px;
    color: white;
    background: rgba(51, 133, 255, 0.56);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

#projects:hover {
    cursor: pointer;
}

#home {
    float: left;
    line-height: 45px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 0px 0px 6px 6px;
    color: white;
    font-size: 14px;
    background: #3385FF;
    margin-left: 50px;
}

#home:hover {
    color: #3385FF;
    background: white;
}

.links {
    z-index: 1000;
    width: 100%;
    margin-top: -5px;
    font-size: 19px;
    line-height: 54px;
    text-align: right;
    height: 45px;
    color: white;
    position: fixed;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.links:hover {
    height: 54px;
    background-color: black;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.links a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
    line-height: 10px;
    margin: 0px 44px 0px 0px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.links a:hover {
    cursor: pointer;
    color: #3385FF;
}

#page-header {
    background-image: url('../images/forest.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 478px;
    -o-transition: 1.5s;
    -ms-transition: 1.5s;
    -moz-transition: 1.5s;
    -webkit-transition: 1.5s;
}

.overlay:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 478px;
    display: block;
    z-index: 0;
    background: -webkit-radial-gradient(50% 55%, ellipse closest-corner, rgba(75, 101, 121, 0.22) 1%, rgba(0, 17, 39, 0.84) 100%);
}

//background-color: rgba(255,0,0,0.5);

}
// #page-header .name {
//     margin: 0;
//     text-align: center;
//     font-size: 101px;
//     color: white;
//     font-weight: 400;
//     line-height: 300px;
// }
// #page-header .title {
//     text-align: center;
//     color: white;
//     font-size: 30px;
//     letter-spacing: 6px;
//     font-weight: 100;
//     margin-top: -80px;
// }
.header-container {
    display: none;
}
.aboutme-container {
    text-align: center;
    display: none;
}
.royal-line {
    width: 125px;
    height: 52px;
    margin: 0px auto 0;
    border-bottom: 2px solid #3385FF;
}
.avatar {
    border-radius: 100%;
    display: inline-block;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.075);
    margin-top: 22px;
}
.yo {
    border-radius: 100%;
    display: block;
    width: 10em;
}
.icons {
    text-align: center;
    cursor: default;
    list-style: none;
    padding-left: 0;
    text-decoration: none;
    margin-top: 28px;
}
.icons li {
    display: inline;
    background: #3385FF;
    border-radius: 100%;
    margin: 8px;
}
.icons li {
    padding: 24px 8px 10px 11px;
}
.icons li:hover {
    background: #1e1e86;
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}
.icons li a {
    color: white;
    text-decoration: none;
    font-size: 35px;
}
.iam {
    width: 531px;
    color: Grey;
    margin: 45px auto;
}
#snapcode {
    display: none;
    width: 82px;
    position: absolute;
    margin-left: -24px;
    margin-top: 20px;
}
.projects-container {
    background: white;
    text-align: center;
}
.first-column,
.second-column,
.third-column {
    width: 30%;
    margin: 18px;
}
.projectheader {
    text-align: center;
    font-size: 29px;
}
.projects {
    width: 990px;
    display: -webkit-flex;
    margin: auto;
}
.thumbnail {
    opacity: 0;
    border-radius: 10px 10px 0px 0px;
}
.thumbnail:hover {
    box-shadow: 0px -4px 8px 0px rgb(51, 133, 255);
}
#organized {
    background-image: url('../images/node.jpg');
    background-position: center;
    background-size: cover;
    height: 465px;
}
#snapchat {
    display: none;
    width: 115px;
}
#react {
    background-image: url('../images/react.jpg');
    background-position: center;
    background-size: cover;
    height: 465px;
}
#mag {
    background-image: url('../images/client.jpg');
    background-position: center;
    background-size: cover;
    height: 310px;
}
#sky {
    background-image: url('../images/skyline.jpg');
    background-position: center;
    background-size: cover;
    height: 310px;
}
#meal {
    background-image: url('../images/meal.jpg');
    background-position: center;
    background-size: cover;
    height: 465px;
}
#shopping {
    background-image: url('../images/shopping.jpg');
    background-position: center;
    background-size: cover;
    height: 465px;
}
#api {
    background-image: url('../images/api.jpg');
    background-position: center;
    background-size: cover;
    height: 412px;
}
#landing-page {
    background-image: url('../images/karma.jpg');
    background-position: center;
    background-size: cover;
    height: 310px;
}
.code {
    display: none;
    cursor: pointer;
    line-height: 154px;
    background: #3385FF;
    text-decoration: none;
    padding: 0px 50px 0px 50px;
    font-size: 50px;
    color: black;
    opacity: .8;
    border-radius: 5px;
}
.code:hover {
    color: white;
}
.demo {
    display: none;
    cursor: pointer;
    line-height: 197px;
    background: #3385FF;
    text-decoration: none;
    padding: 0px 50px 0px 50px;
    font-size: 50px;
    color: black;
    border-radius: 5px;
    opacity: .8;
    margin-top: 150px;
}
.demo:hover {
    color: white;
}
.projects p {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.145);
    border: 1px solid lightgrey;
    margin-top: -1px;
    font-size: 11px;
    height: 58px;
    line-height: 31px;
    border-radius: 0px 0px 10px 10px;
}
.projects-container {
    display: none;
}
.my-career {
    width: 100%;
    background-color: #f4f4f4;
    margin: auto;
    display: none;
}
.vertical-block {
    opacity: 0;
    width: 940px;
    margin: auto;
    text-align: center;
    height: 151px;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
}
.vertical-block h2 {
    font-size: 22px;
}
.work {
    background: white;
    width: 418px;
    margin-top: 9px;
    border-radius: 5px;
}
#rbdevelop {
    float: left;
}
.fa-desktop,
.fa-code,
.fa-briefcase,
.fa-graduation-cap {
    position: absolute;
    margin-top: 39px;
    color: white;
    border-radius: 34px;
    padding: 13px;
    background: #3385FF;
}
.abc,
.abcde,
.abcdefg {
    float: right;
    width: 107px;
    margin-top: 44px;
    margin-right: 300px;
}
.abcd,
.abcdef {
    float: left;
    width: 107px;
    margin-top: 49px;
    margin-left: 336px;
}
#sa-conxepts {
    float: right;
    margin-right: -30px;
}
#bootcamp {
    float: left;
}
#graduation {
    float: right;
    margin-right: -30px;
}
#mireles {
    float: left;
}
span {
    color: #3385FF;
}
#conxepts {
    font-size: 13px;
}
.skills {
    width: 940px;
    margin: auto;
    height: 537px;
    display: none;
    background: white;
}
.skills h2 {
    opacity: .0;
    margin-left: 58px;
    line-height: 2px;
    margin-top: 57px;
}
.progress {
    opacity: 0;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 77%;
    float: right;
    margin-top: -29px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background-color: #3385FF;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.content-main {
    width: 100%;
    display: block;
    margin: auto;
}
.footer {
    text-align: center;
}
@media screen and (max-width:480px) {
    .container {
        display: none;
    }
}
