body {
    background: grey;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    -webkit-animation: fadein 5s;
}

div {
    border: solid 1px green;
}

.container {
    width: 90%;
    margin: auto;
    -webkit-animation: fadein 2s;
}

.start-section {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#rey {
    position: relative;
    margin: auto;
    border: 7px solid white;
    transform: skewY(-1.5deg);
    width: 153px;
    top: -442px;
    color: white;
    font-size: 65px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

#story {
    position: relative;
    top: -585px;
    left: 251px;
    color: white;
    width: 234px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.41);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

#projects {
    position: relative;
    top: -263px;
    left: 59%;
    width: 234px;
    padding: 8px;
    color: white;
    background: rgba(0, 0, 0, 0.41);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

#my-story {
    width: 974px;
    height: 600px;
    -webkit-clip-path: polygon(0 0, 0 0, 0 934px, 750px 0);
    cursor: pointer;
    filter: grayscale(62%);
    //position: absolute;
}

#my-projects {
    margin-left: -974px;
    width: 974px;
    height: 600px;
    -webkit-clip-path: polygon(746px 0, 991px 0, 990px 613px, 240px 613px);
    position: absolute;
    cursor: pointer;
    filter: grayscale(62%);
}

.myprojectheader {
    text-align: center;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header-container {
    display: none;
}

.links {
    width: 87.5%;
    margin-top: -45px;
    font-size: 19px;
    line-height: 54px;
    text-align: right;
    height: 45px;
    color: white;
    position: fixed;
    // background: rgba(0, 0, 0, 0.41);
    background: black;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.links:hover {
    padding: 10px;
    height: 54px;
    background-color: black;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.links a {
    text-decoration: none;
    color: white;
    line-height: 10px;
    margin: 0px 44px 0px 0px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.links a:hover {
    cursor: pointer;
    color: #7a84c6;
}

#back {
    float: left;
    line-height: 51px;
    padding-left: 26px;
}

#page-header {
    margin-top: 40px;
    background-attachment: fixed;
    background-image: url('../images/austin.jpg');
    background-position: -127px -100px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 566px;
    -o-transition: 1.5s;
    -ms-transition: 1.5s;
    -moz-transition: 1.5s;
    -webkit-transition: 1.5s;
}

#page-header .name {
    margin: 0;
    text-align: center;
    font-size: 101px;
    color: white;
    font-weight: 400;
    line-height: 300px;
    //background blur  background-color: rgba(255, 255, 255, 0.375);
}

#page-header .title {
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 100;
    margin-top: -108px;
}

.projects-container {
    background: white;
    text-align: center;
    background-image: url('../images/intro.jpg');
    background-position: center;
    background-size: cover;
}

.content-main {
    width: 100%;
    display: block;
    margin: auto;
}

.avatar {
    border-radius: 100%;
    display: inline-block;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.075);
    margin-top: 22px;
}

.yo {
    border-radius: 100%;
    display: block;
    width: 10em;
}

.iam {
    width: 531px;
    color: white;
    margin: 45px auto;
}

.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    text-decoration: none;
    margin-top: 28px;
}

.icons li {
    display: inline;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 100%;
    margin: 8px;
}

.icons .logos {
    padding: 29px 12px 13px 17px;
}

.icons li:hover {
    background-color: rgba(255, 255, 255, 0.575);
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.icons li a {
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.fa-arrow {
    background-image: url('../images/snapchat.png');
}

.first-column,
.second-column,
.third-column {
    width: 30%;
    margin: 18px;
}

.projects {
    width: 990px;
    display: -webkit-flex;
    margin: auto;
}

.thumbnail {
    border-radius: 10px 10px 0px 0px;
}

.thumbnail:hover {
    box-shadow: 0px -4px 8px 0px rgb(4, 20, 50);
}

#organized {
    background-image: url('../images/node.jpg');
    background-position: center;
    background-size: cover;
    height: 465px;
}

#snapchat {
    display: none;
    width: 115px;
}

#react {
    background-image: url('../images/react.jpg');
    background-position: center;
    background-size: cover;
    height: 465px;
}

#mag {
    background-image: url('../images/client.jpg');
    background-position: center;
    background-size: cover;
    height: 310px;
}

#sky {
    background-image: url('../images/skyline.jpg');
    background-position: center;
    background-size: cover;
    height: 310px;
}

#meal {
    background-image: url('../images/meal.jpg');
    background-position: center;
    background-size: cover;
    height: 465px;
}

#shopping {
    background-image: url('../images/shopping.jpg');
    background-position: center;
    background-size: cover;
    height: 465px;
}

#api {
    background-image: url('../images/api.jpg');
    background-position: center;
    background-size: cover;
    height: 412px;
}

#landing-page {
    background-image: url('../images/karma.jpg');
    background-position: center;
    background-size: cover;
    height: 310px;
}

.code {
    display: none;
    cursor: pointer;
    line-height: 154px;
    background: #3b7e98;
    text-decoration: none;
    padding: 0px 50px 0px 50px;
    font-size: 50px;
    color: black;
    opacity: .8;
    border-radius: 5px;
}

.code:hover {
    color: white;
}

.demo {
    display: none;
    cursor: pointer;
    line-height: 197px;
    background: #3b7e98;
    text-decoration: none;
    padding: 0px 50px 0px 50px;
    font-size: 50px;
    color: black;
    border-radius: 5px;
    opacity: .8;
    margin-top: 150px;
}

.demo:hover {
    color: white;
}

// #sky, #meal {
//     opacity: 0;
// }
.projects p {
    background-color: rgba(255, 255, 255, 0.145);
    border: 1px solid lightgrey;
    margin-top: -1px;
    color: white;
    font-size: 14px;
    height: 58px;
    line-height: 31px;
    border-radius: 0px 0px 10px 10px;
}

.aboutme-container {
    display: none;
    text-align: center;
}

.fa-arrow-left {
    font-size: 29px;
}

.projects-container {
    display: none;
}

.my-career {
    width: 100%;
    background-color: white;
    margin: auto;
}

.work {
    border: 1px solid blue;
    width: 46%;
}

#sa-conxepts {
    float: right;
}

#mireles {
    float: right;
}

#bootcamp {
    float: left;
}

.year {
    position: relative;
    top: 56px;
}

.vertical-block {
    opacity: 0;
    width: 80%;
    margin: auto;
    height: 132px;
}

// .progress{
//     opacity:0;
// }
.progress {
    width: 47%;
    float: right;
    margin-top: -29px;
}



.skills {
    width: 100%;
    margin: auto;
}



.hideme {
    opacity: 0;
}

@media screen and (max-width:480px) {
    .container {
        display: none;
    }
}
